*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android plugin module
/stt_tts_plugin/.gradle/
/stt_tts_plugin/build/
/stt_tts_plugin/.idea/
/stt_tts_plugin/local.properties
/stt_tts_plugin/captures/
