<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyunie.stt_tts_plugin">

    <!-- Quyền dùng micro -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Quyền dùng Internet (nếu cần) -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
